{'credentials': {
  'scope':'GLOBAL',
  'stapler-class': 'com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey',
{% if vagrant is defined %}
  'id': '192.168.119.{{ item|int + 9 }}.nip.io', 
  'username': 'vagrant',
  'description': 'Credentials for ssh slave 192.168.119.{{ item|int + 9 }}.nip.io',
  'privateKeySource': {
    'stapler-class': 'com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$FileOnMasterPrivateKeySource',
    'privateKeyFile': '/vagrant/.vagrant/machines/jenkins_slave{{ item|int - 1 }}/libvirt/private_key',
{% else %}
  'id': 'slave-ssh'
  'username': '{{ slave_ssh_username }}',
  'description': 'Credentials for ssh slaves',
  'privateKeySource': {
    'stapler-class': 'com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$FileOnMasterPrivateKeySource',
    'privateKeyFile': '{{ slave_ssh_private_key_file }}',
{% endif %}
  }
}
}
