{'credentials': {
  'scope':'GLOBAL',
  'id': '192.168.119.{{ item|int + 9 }}.nip.io',
  'privateKeySource': {
    'stapler-class': 'com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$FileOnMasterPrivateKeySource',
    'privateKeyFile': '/vagrant/.vagrant/machines/jenkins_slave{{ item|int - 1 }}/libvirt/private_key',
  },
  'description': 'apicredentials',
  'stapler-class': 'com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey'
}
}
